<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello,java
id:1
name:枸杞
price:100

creatDate:2019-8-12
creatDate:11:36:35
creatDate:2019-8-12 11:36:35

    index:0
    id:1
    name:枸杞1
    price:100
    creatDate:2019-8-12 11:36:35
    index:1
    id:2
    name:枸杞2
    price:100
    creatDate:2019-8-12 11:36:35
    index:2
    id:3
    name:枸杞3
    price:100
    creatDate:2019-8-12 11:36:35
    index:3
    id:4
    name:枸杞4
    price:100
    creatDate:2019-8-12 11:36:35

    少年

===>
</body>
</html>